.es-attendance-form {
  display: flex;
  flex-direction: column;
}

.es-attendance-form input[type="text"],
.es-attendance-form input[type="email"],
.es-attendance-form select {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.es-attendance-form input[type="submit"] {
  padding: 10px 20px; /* Desktop padding */
  background-color: #00a6bf; /* Dynamic background color */
  color: #ffffff; /* Dynamic text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.es-attendance-form .es-form-group {
  color: #ffffff; /* Dynamic text color */
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .es-attendance-form input[type="submit"] {
    padding: 10px; /* Mobile padding */
  }
}

.filter-form input[type="text"],
.filter-form select {
  margin-bottom: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.filter-form select {
  margin-bottom: 4px;
  width: 200px;
}
.filter-form .checkbox-container {
  width: 130px;
  display: inline-block;
  padding: 0 10px;
}

.filter-form .submit-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #ffd400;
  border-color: #ffd400;
  font-size: 18px;
  font-weight: 500;
}

.filter-form .submit-btn:hover {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #d6b40c;
}

@media (max-width: 768px) {
  .filter-form input[type="text"] {
    margin-bottom: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .filter-form .checkbox-container {
    width: 130px;
    display: block;
    padding: 10px 0px 20px;
  }
}
