.es-attendance-form {
  display: flex;
  flex-direction: column;
}

.es-attendance-form input[type="text"],
.es-attendance-form input[type="date"],
.es-attendance-form input[type="email"],
.es-attendance-form select {
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.es-attendance-form input[type="submit"] {
  padding: 10px 20px; /* Desktop padding */
  background-color: #00a6bf; /* Dynamic background color */
  color: #ffffff; /* Dynamic text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.es-attendance-form input[disabled] {
  background-color: gray!important;
  border-radius: 5px;
  cursor: default;
}
.es-attendance-form input[disabled]:hover{
  background-color: gray!important;
  border-radius: 5px;
  cursor: default;
}

.es-attendance-form .es-form-group {
  color: #ffffff; /* Dynamic text color */
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .es-attendance-form input[type="submit"] {
    padding: 10px; /* Mobile padding */
  }
}

.filter-form input[type="text"],
.filter-form input[type="date"],
.filter-form select {
  margin-bottom: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.filter-form select {
  margin-bottom: 4px;
  width: 200px;
}
.filter-form .checkbox-container {
  width: 130px;
  display: inline-block;
  padding: 0 10px;
}

.filter-form .submit-btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #ffd400;
  border-color: #ffd400;
  font-size: 18px;
  font-weight: 500;
}

.filter-form .submit-btn:hover {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background: #d6b40c;
}

@media (max-width: 768px) {
  .filter-form input[type="text"] {
    margin-bottom: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
  }
  .filter-form .checkbox-container {
    width: 130px;
    display: block;
    padding: 10px 0px 20px;
  }
}

#filter-table-response {
  position: relative;
}

#loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000054;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #ffd400; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
